https://github.com/DataTalksClub/data-engineering-zoomcamp/blob/main/cohorts/2023/week_1_docker_sql/homework.md

In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
%matplotlib inline

# Question 1. Knowing docker tags

Run the command to get information on Docker

docker --help

Now run the command to get help on the "docker build" command

Which tag has the following text? - Write the image ID to the file

In [2]:
!docker build --help | grep "Write the image ID to the file"

      --iidfile string          Write the image ID to the file

Answer: __--iidfile string__

# Question 2. Understanding docker first run

Run docker with the python:3.9 image in an interactive mode and the entrypoint of bash. Now check the python modules that are installed ( use pip list). How many python packages/modules are installed?

docker run -it --rm python:3.9 bash

pip list
* pip        22.0.4
* setuptools 58.1.0
* wheel      0.38.4

Answer: __3__

# Prepare Postgres

Run Postgres and load data as shown in the videos We'll use the green taxi trips from January 2019:

wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz

You will also need the dataset with zones:

wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

Download this data and put it into Postgres (with jupyter notebooks or with a pipeline)

docker build -t taxi_ingest:v001 .

URL="https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz"

docker run -it --rm --net=host taxi_ingest:v001 \
--user=root \
--password=root \
--host=localhost \
--port=5432 \
--db=ny_taxi \
--table_name=yellow_taxi_data \
--url=${URL}

URL="https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"

docker run -it --rm --net=host taxi_ingest:v001 \
--user=root \
--password=root \
--host=localhost \
--port=5432 \
--db=ny_taxi \
--table_name=zones \
--url=${URL}

In [3]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")
engine.connect()

# Question 3. Count records

How many taxi trips were totally made on January 15?

Tip: started and finished on 2019-01-15.

Remember that lpep_pickup_datetime and lpep_dropoff_datetime columns are in the format timestamp (date and hour+min+sec) and not in date.

In [4]:
q = """
SELECT 
    COUNT(1)
FROM 
    yellow_taxi_data t
WHERE
        DATE_TRUNC('DAY', t.lpep_pickup_datetime)  = '2019-01-15' 
    AND DATE_TRUNC('DAY', t.lpep_dropoff_datetime) = '2019-01-15'
"""
pd.read_sql(q, con=engine)

   count
0  20530

Answer: __20530__

# Question 4. Largest trip for each day

Which was the day with the largest trip distance Use the pick up time for your calculations.

In [5]:
q = """
SELECT 
    DATE_TRUNC('DAY', t.lpep_pickup_datetime) as day,
    t.trip_distance
FROM 
    yellow_taxi_data t
ORDER BY trip_distance DESC
LIMIT 3
"""
pd.read_sql(q, con=engine)

         day  trip_distance
0 2019-01-15         117.99
1 2019-01-18          80.96
2 2019-01-28          64.27

Answer: __2019-01-15__

# Question 5. The number of passengers

In 2019-01-01 how many trips had 2 and 3 passengers?

In [6]:
q = """
SELECT 
    SUM(CASE 
        WHEN t.passenger_count = 2 
            THEN 1
        ELSE 0 
    END) AS passengers_2,
    SUM(CASE 
        WHEN t.passenger_count = 3 
            THEN 1
        ELSE 0 
    END) AS passengers_3
FROM 
    yellow_taxi_data t
WHERE
        DATE_TRUNC('DAY', t.lpep_pickup_datetime)  = '2019-01-01' 
"""
pd.read_sql(q, con=engine)

   passengers_2  passengers_3
0          1282           254

Answer: __2: 1282 ; 3: 254__

# Question 6. Largest tip

For the passengers picked up in the Astoria Zone which was the drop off zone that had the largest tip? We want the name of the zone, not the id.

Note: it's not a typo, it's tip , not trip

In [7]:
q = """
SELECT 
    t.lpep_pickup_datetime,
    t.passenger_count,
    t.trip_distance,
    t.tip_amount,
    t.total_amount,
    zone_pickup.zone AS zone_pickup,
    zone_dropoff.zone AS zone_dropoff
FROM 
    yellow_taxi_data t
LEFT JOIN
    zones AS zone_pickup
    ON t.pulocationid = zone_pickup.locationid
LEFT JOIN
    zones AS zone_dropoff
    ON t.dolocationid = zone_dropoff.locationid

WHERE zone_pickup.zone = 'Astoria'
ORDER BY 
    t.tip_amount DESC
LIMIT 5
"""
pd.read_sql(q, con=engine)

,lpep_pickup_datetime,passenger_count,trip_distance,tip_amount,total_amount,zone_pickup,zone_dropoff
0,2019-01-26 00:46:06,1,0.92,88.00,94.80,Astoria,Long Island City/Queens Plaza
1,2019-01-24 12:58:02,2,7.94,30.00,65.06,Astoria,Central Park
2,2019-01-20 22:48:21,1,10.10,25.00,56.80,Astoria,Jamaica
3,2019-01-17 08:21:52,1,14.30,25.00,86.56,Astoria,None
4,2019-01-02 04:17:39,5,17.66,19.16,114.96,Astoria,None

Answer: __Long Island City/Queens Plaza__