# Week 5 Homework

https://github.com/DataTalksClub/data-engineering-zoomcamp/tree/main/cohorts/2023

In this homework we'll put what we learned about Spark in practice.

For this homework we will be using the FHVHV 2021-06 data found here. [FHVHV Data](https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz )

In [1]:
import pandas as pd
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql import types as t

# Question 1:

* Install Spark and PySpark
* Install Spark
* Run PySpark
* Create a local spark session
* Execute spark.version.

What's the output?

In [2]:
spark = SparkSession.builder \
        .master("local[*]") \
        .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/03/06 10:02:17 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
spark

Answer: __3.3.2__

# Question 2:

__HVFHW June 2021__
<br>Read it with Spark using the same schema as we did in the lessons.
<br>We will use this dataset for all the remaining questions.
<br>Repartition it to 12 partitions and save it to parquet.
<br>What is the average size of the Parquet (ending with .parquet extension) Files that were created (in MB)? Select the answer <br>which most closely matches.

In [4]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz

--2023-03-05 19:54:26--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230305%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230305T195427Z&X-Amz-Expires=300&X-Amz-Signature=41badd682c5191dc606c329b15da9c3a25e1d39f4bcdfa1ea5736c9058358b16&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-03-05 19:54:27--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230305%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230305T195427Z&X-Amz-Expires=300&X-Amz-Signature=41badd682c5191dc606c329b15da9c3a25e1d39f4bcdfa1ea5736c9058358b16&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.111.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘fhvhv_tripdata_2021-06.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 167.66M  12.3MB/s    in 8.7s

2023-03-05 19:54:35 (19.4 MB/s) - ‘fhvhv_tripdata_2021-06.csv.gz’ saved [175799316/175799316]

In [5]:
fhvhv_schema = t.StructType([
    t.StructField('dispatching_base_num', t.StringType(), True), 
    t.StructField('pickup_datetime', t.TimestampType(), True), 
    t.StructField('dropoff_datetime', t.TimestampType(), True), 
    t.StructField('PULocationID', t.IntegerType(), True), 
    t.StructField('DOLocationID', t.IntegerType(), True), 
    t.StructField('SR_Flag', t.StringType(), True), 
    t.StructField('Affiliated_base_number', t.StringType(), True)
])

In [6]:
# read the data
df = spark.read \
        .schema(fhvhv_schema) \
        .option("header", "true") \
        .csv('fhvhv_tripdata_2021-06.csv.gz')

In [7]:
df.show(10)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02764|2021-06-01 00:02:41|2021-06-01 00:07:46|         174|          18|      N|                B02764|
|              B02764|2021-06-01 00:16:16|2021-06-01 00:21:14|          32|         254|      N|                B02764|
|              B02764|2021-06-01 00:27:01|2021-06-01 00:42:11|         240|         127|      N|                B02764|
|              B02764|2021-06-01 00:46:08|2021-06-01 00:53:45|         127|         235|      N|                B02764|
|              B02510|2021-06-01 00:45:42|2021-06-01 01:03:33|         144|         146|      N|                  null|
|              B02510|2021-06-01 00:18:15|2021-06-01 00:25:47|          49|          17|      N|                  null|
|              B02510|2021-06-01 00:33:06|2021-06-01 00:42:46|          49|         225|      N|                  null|
|              B02510|2021-06-01 00:46:27|2021-06-01 00:56:50|         225|         177|      N|                  null|
|              B02764|2021-06-01 00:48:06|2021-06-01 01:04:10|         209|          45|      N|                B02764|
|              B02875|2021-06-01 00:18:54|2021-06-01 00:26:14|          80|         256|      N|                B02875|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 10 rows

In [8]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [9]:
df.repartition(12) \
    .write \
    .parquet('fhvhv/2021/06/', mode='overwrite')

In [10]:
!tree -h fhvhv/2021/06/

fhvhv/2021/06/
├── [   0]  _SUCCESS
├── [ 24M]  part-00000-7de47c0d-c346-47b0-bef5-0b4840265cdf-c000.snappy.parquet
├── [ 24M]  part-00001-7de47c0d-c346-47b0-bef5-0b4840265cdf-c000.snappy.parquet
├── [ 24M]  part-00002-7de47c0d-c346-47b0-bef5-0b4840265cdf-c000.snappy.parquet
├── [ 24M]  part-00003-7de47c0d-c346-47b0-bef5-0b4840265cdf-c000.snappy.parquet
├── [ 24M]  part-00004-7de47c0d-c346-47b0-bef5-0b4840265cdf-c000.snappy.parquet
├── [ 24M]  part-00005-7de47c0d-c346-47b0-bef5-0b4840265cdf-c000.snappy.parquet
├── [ 24M]  part-00006-7de47c0d-c346-47b0-bef5-0b4840265cdf-c000.snappy.parquet
├── [ 24M]  part-00007-7de47c0d-c346-47b0-bef5-0b4840265cdf-c000.snappy.parquet
├── [ 24M]  part-00008-7de47c0d-c346-47b0-bef5-0b4840265cdf-c000.snappy.parquet
├── [ 24M]  part-00009-7de47c0d-c346-47b0-bef5-0b4840265cdf-c000.snappy.parquet
├── [ 24M]  part-00010-7de47c0d-c346-47b0-bef5-0b4840265cdf-c000.snappy.parquet
└── [ 24M]  part-00011-7de47c0d-c346-47b0-bef5-0b4840265cdf-c000.snappy.parquet

0 directories, 13 files

Answer: __24MB__

# Question 3:

Count records

How many taxi trips were there on June 15?

Consider only trips that started on June 15.

In [11]:
df = spark.read.parquet('fhvhv/2021/06/*')

In [12]:
# method 1
df.createOrReplaceTempView('fhvhv')
spark.sql("""
SELECT
  date_trunc('day', fhvhv.pickup_datetime) as date
FROM 
  fhvhv
WHERE 
  date_trunc('day', fhvhv.pickup_datetime) = '2021-06-15'  
""").count()

452470

In [13]:
# method 2
df \
    .filter(F.to_date('pickup_datetime') == '2021-06-15') \
    .count()

452470

In [14]:
# method 3
df.withColumn('pickup_date', F.to_date('pickup_datetime')) \
    .groupBy('pickup_date') \
    .count() \
    .orderBy('pickup_date') \
    .show()

+-----------+------+
|pickup_date| count|
+-----------+------+
| 2021-06-01|417375|
| 2021-06-02|457339|
| 2021-06-03|521408|
| 2021-06-04|538917|
| 2021-06-05|604903|
| 2021-06-06|522753|
| 2021-06-07|425771|
| 2021-06-08|462554|
| 2021-06-09|483353|
| 2021-06-10|504108|
| 2021-06-11|549286|
| 2021-06-12|591339|
| 2021-06-13|509039|
| 2021-06-14|426672|
| 2021-06-15|452470|
| 2021-06-16|479776|
| 2021-06-17|497133|
| 2021-06-18|540056|
| 2021-06-19|601189|
| 2021-06-20|491630|
+-----------+------+
only showing top 20 rows

Answer: __452,470__

# Question 4:

Longest trip for each day

Now calculate the duration for each trip.
<br>How long was the longest trip in Hours?

In [16]:
# method 1
df.withColumn('duration', F.round((F.col('dropoff_datetime').cast("long") - F.col('pickup_datetime').cast("long"))/3600,3)) \
    .orderBy(F.col('duration').desc()) \
    .show(5)

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+--------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|duration|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+--------+
|              B02872|2021-06-25 13:55:41|2021-06-28 08:48:25|          98|         265|      N|                B02872|  66.879|
|              B02765|2021-06-22 12:09:45|2021-06-23 13:42:44|         188|         198|      N|                B02765|   25.55|
|              B02879|2021-06-27 10:32:29|2021-06-28 06:31:20|          78|         169|      N|                B02879|  19.981|
|              B02800|2021-06-26 22:37:11|2021-06-27 16:49:01|         263|          36|      N|                  null|  18.197|
|              B02682|2021-06-23 20:40:43|2021-06-24 13:08:44|           3|         247|      N|                B02682|  16.467|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+--------+
only showing top 5 rows

In [30]:
# method 2
spark.sql("""
SELECT
  round((cast(dropoff_datetime as long) - cast(pickup_datetime as long))/3600, 2) as duration  
FROM 
  fhvhv
ORDER BY
  duration DESC
LIMIT 5
""").show()

+--------+
|duration|
+--------+
|   66.88|
|   25.55|
|   19.98|
|    18.2|
|   16.47|
+--------+

Answer: __66.87 Hours__

# Question 5:

User Interface

Spark’s User Interface which shows application's dashboard runs on which local port?

Answer: __4040__

# Question 6:

Most frequent pickup location zone

Load the zone lookup data into a temp view in Spark</br>
[Zone Data](https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv)</br>

Using the zone lookup data and the fhvhv June 2021 data, what is the name of the most frequent pickup location zone?

In [31]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv

--2023-03-06 10:17:30--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/misc/taxi_zone_lookup.csv
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230306T101730Z&X-Amz-Expires=300&X-Amz-Signature=d55c48f88e3e1a068105d9d885ebf2901625628cb2173271b391b3d8acb7c3f7&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream [following]
--2023-03-06 10:17:30--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/5a2cc2f5-b4cd-4584-9c62-a6ea97ed0e6a?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230306%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230306T101730Z&X-Amz-Expires=300&X-Amz-Signature=d55c48f88e3e1a068105d9d885ebf2901625628cb2173271b391b3d8acb7c3f7&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dtaxi_zone_lookup.csv&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi_zone_lookup.csv’

taxi_zone_lookup.cs 100%[===================>]  12.03K  --.-KB/s    in 0s

2023-03-06 10:17:30 (37.7 MB/s) - ‘taxi_zone_lookup.csv’ saved [12322/12322]

In [32]:
df_zones = spark.read \
            .option("header", "true") \
            .csv('taxi_zone_lookup.csv')
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [33]:
# method 1
df.groupBy('PULocationID') \
    .count() \
    .orderBy(F.col('count').desc()) \
    .join(df_zones, df['PULocationID'] == df_zones['LocationID'], how='left').show(5)

+------------+------+----------+---------+-------------------+------------+
|PULocationID| count|LocationID|  Borough|               Zone|service_zone|
+------------+------+----------+---------+-------------------+------------+
|          61|231279|        61| Brooklyn|Crown Heights North|   Boro Zone|
|          79|221244|        79|Manhattan|       East Village| Yellow Zone|
|         132|188867|       132|   Queens|        JFK Airport|    Airports|
|          37|187929|        37| Brooklyn|     Bushwick South|   Boro Zone|
|          76|186780|        76| Brooklyn|      East New York|   Boro Zone|
+------------+------+----------+---------+-------------------+------------+
only showing top 5 rows

In [34]:
df_zones.createOrReplaceTempView('zones')

In [42]:
spark.sql("""
SELECT 
  trips.PULocationID,
  trips.count,
  zones.Zone
FROM (
  SELECT 
   fhvhv.PULocationID,
   sum(1) as count
  FROM
    fhvhv
  GROUP BY
    PULocationID
  ORDER BY
    count desc
  ) as trips
LEFT JOIN zones 
ON trips.PULocationID = zones.LocationID
""").show(5)

+------------+------+-------------------+
|PULocationID| count|               Zone|
+------------+------+-------------------+
|          61|231279|Crown Heights North|
|          79|221244|       East Village|
|         132|188867|        JFK Airport|
|          37|187929|     Bushwick South|
|          76|186780|      East New York|
+------------+------+-------------------+
only showing top 5 rows

Answer: __Crown Heights North__